In [1]:
import pandas as pd
import numpy as np

## Data Preprocessing

In [2]:
data_1 = pd.read_csv('data_1.csv') #get the data
data_2 = pd.read_csv('data_2.csv')
data_3 = pd.read_csv('data_3.csv')
data_4 = pd.read_csv('data_4.csv')
data_5 = pd.read_csv('data_5.csv')
data_1.head()

,Model,Price,RAM,Generation,Processor Type,Hard Drive Type,Hard Drive Size
0,LENOVO SLIM 3 15ALC6 RYZEN5 5500U|8GB|512SSD|2...,"Rs. 250,400.00",8GB,5,Ryzen 5,SSD,512GB
1,ACER A515-56-53LE CORE i5 11GN|4GB|1TB|W10|SIL...,"Rs. 211,150.00",4GB,11,i5,HDD,1 TB
2,ACER TMP 215|RYZEN 5-5650U|8GB|512GB|WIN 10PRO...,"Rs. 247,200.00",8GB,5,Ryzen 5,HDD,512GB
3,HP 255 G8 RYZEN 5 5500U|8GB|1TB|W10|bag(2y)dar...,"Rs. 195,700.00",8GB,5,Ryzen 5,HDD,1 TB
4,LENOVO V15 G2ITL i5|11GN|8GB|1TB|MX350|15.6'' ...,"Rs. 216,300.00",8GB,11,i5,HDD,1 TB

In [3]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Model            39 non-null     object
 1   Price            39 non-null     object
 2   RAM              39 non-null     object
 3   Generation       39 non-null     int64
 4   Processor Type   39 non-null     object
 5   Hard Drive Type  39 non-null     object
 6   Hard Drive Size  39 non-null     object
dtypes: int64(1), object(6)
memory usage: 2.3+ KB

In [4]:
data_1['Price'] = data_1['Price'].str.replace('Rs.','') #covert the price column into intiger
data_1['Price'] = data_1['Price'].str.replace(',','')
data_1['Price'] = data_1['Price'].str[:-3].astype('int64')

C:\Users\Laptop Outlet\AppData\Local\Temp\ipykernel_19392\4182193127.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data_1['Price'] = data_1['Price'].str.replace('Rs.','') #covert the price column into intiger

In [5]:
data_1.head()

,Model,Price,RAM,Generation,Processor Type,Hard Drive Type,Hard Drive Size
0,LENOVO SLIM 3 15ALC6 RYZEN5 5500U|8GB|512SSD|2...,250400,8GB,5,Ryzen 5,SSD,512GB
1,ACER A515-56-53LE CORE i5 11GN|4GB|1TB|W10|SIL...,211150,4GB,11,i5,HDD,1 TB
2,ACER TMP 215|RYZEN 5-5650U|8GB|512GB|WIN 10PRO...,247200,8GB,5,Ryzen 5,HDD,512GB
3,HP 255 G8 RYZEN 5 5500U|8GB|1TB|W10|bag(2y)dar...,195700,8GB,5,Ryzen 5,HDD,1 TB
4,LENOVO V15 G2ITL i5|11GN|8GB|1TB|MX350|15.6'' ...,216300,8GB,11,i5,HDD,1 TB

In [6]:
data_2.head()

,Model,Price,RAM,Generation,Processor Type,Hard Drive Type,Hard Drive Size
0,Asus Expertbook B1502 Core i3 12TH Gen,"රු132,500.00",8GB,12,i3,SSD,512GB
1,Asus Expertbook B1502 Core i5 12TH Gen,"රු184,000.00",8GB,12,i5,SSD,512GB
2,Asus Expertbook B1502 Core i7 Laptop,"රු213,000.00",8GB,12,i7,SSD,512GB
3,ASUS Vivobook 15 (X1504) i5 13th Gen,"රු182,500.00",8GB,13,i5,SSD,512GB
4,ASUS Vivobook 15 A1504 i5 13th Gen 16GB,"රු192,500.00",16GB,13,i5,SSD,512GB

In [7]:
data_2['Price'] = data_2['Price'].str.replace('රු','') #covert the price column into intiger
data_2['Price'] = data_2['Price'].str.replace(',','')
data_2['Price'] = data_2['Price'].str[:-3].astype('int64')

In [8]:
data_2.head()

,Model,Price,RAM,Generation,Processor Type,Hard Drive Type,Hard Drive Size
0,Asus Expertbook B1502 Core i3 12TH Gen,132500,8GB,12,i3,SSD,512GB
1,Asus Expertbook B1502 Core i5 12TH Gen,184000,8GB,12,i5,SSD,512GB
2,Asus Expertbook B1502 Core i7 Laptop,213000,8GB,12,i7,SSD,512GB
3,ASUS Vivobook 15 (X1504) i5 13th Gen,182500,8GB,13,i5,SSD,512GB
4,ASUS Vivobook 15 A1504 i5 13th Gen 16GB,192500,16GB,13,i5,SSD,512GB

In [9]:
data_3.head()

,Model,Price,RAM,Generation,Processor Type,Hard Drive Type,Hard Drive Size
0,ASUS,"Original price was: රු 220,000.00.",16GB,13,i7,SSD,512GB
1,Lenovo,"Original price was: රු 750,000.00.",16GB,12,i5,SSD,1TB
2,GIGABYTE,"Original price was: රු 399,000.00.",16GB,13,i7,SSD,512GB
3,GIGABYTE,"Original price was: රු 345,000.00.",32GB,14,i7,SSD,1TB
4,ASUS,"Original price was: රු 160,000.00.",8GB,12,i5,SSD,1TB

In [10]:
data_3['Price'] = data_3['Price'].str.replace('Original price was: රු','') #covert the price column into intiger
data_3['Price'] = data_3['Price'].str.replace(',','')
data_3['Price'] = data_3['Price'].str.replace('.','')
data_3['Price'] = data_3['Price'].str[:-2].astype('int64')

C:\Users\Laptop Outlet\AppData\Local\Temp\ipykernel_19392\560695302.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data_3['Price'] = data_3['Price'].str.replace('.','')

In [11]:
data_3.head()

,Model,Price,RAM,Generation,Processor Type,Hard Drive Type,Hard Drive Size
0,ASUS,220000,16GB,13,i7,SSD,512GB
1,Lenovo,750000,16GB,12,i5,SSD,1TB
2,GIGABYTE,399000,16GB,13,i7,SSD,512GB
3,GIGABYTE,345000,32GB,14,i7,SSD,1TB
4,ASUS,160000,8GB,12,i5,SSD,1TB

In [12]:
data_4.head()

,Model,Price,RAM,Generation,Processor Type,Hard Drive Type,Hard Drive Size
0,MSI Katana GF66 12UC i7-12700H|8GB|512GB|RTX3050,"Rs. 385,000.00",8GB,12,i7,SSD,512GB
1,HP Laptop 15-dy5131wm i3-1215U|8GB|256GB|Win 11,"Rs. 138,500.00",8GB,12,i3,SSD,256GB
2,MSI Modern 15 - B13M i3-1315U|8GB|512GB|Win 11,"Rs. 179,100.00",8GB,13,i3,SSD,512GB
3,MSI Cyborg 15 A13VE I7-13620H|16GB|512GB|RTX 4050,"Rs. 375,000.00",16GB,13,i7,SSD,512GB
4,MSI Cyborg 15 A12UDX i7-12650H|16GB|512GB|RTX3050,"Rs. 325,000.00",16GB,12,i7,SSD,512GB

In [13]:
data_4['Price'] = data_4['Price'].str.replace('Rs.','') #covert the price column into intiger
data_4['Price'] = data_4['Price'].str.replace(',','')
data_4['Price'] = data_4['Price'].str[:-3].astype('int64')

C:\Users\Laptop Outlet\AppData\Local\Temp\ipykernel_19392\3358506780.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data_4['Price'] = data_4['Price'].str.replace('Rs.','') #covert the price column into intiger

In [14]:
data_4.head()

,Model,Price,RAM,Generation,Processor Type,Hard Drive Type,Hard Drive Size
0,MSI Katana GF66 12UC i7-12700H|8GB|512GB|RTX3050,385000,8GB,12,i7,SSD,512GB
1,HP Laptop 15-dy5131wm i3-1215U|8GB|256GB|Win 11,138500,8GB,12,i3,SSD,256GB
2,MSI Modern 15 - B13M i3-1315U|8GB|512GB|Win 11,179100,8GB,13,i3,SSD,512GB
3,MSI Cyborg 15 A13VE I7-13620H|16GB|512GB|RTX 4050,375000,16GB,13,i7,SSD,512GB
4,MSI Cyborg 15 A12UDX i7-12650H|16GB|512GB|RTX3050,325000,16GB,12,i7,SSD,512GB

In [15]:
data_5.head()

,Model,Price,RAM,Generation,Processor Type,Hard Drive Type,Hard Drive Size
0,Asus Vivobook 15 X1504VA – i5,"රු235,000.00",16GB,13,i5,SSD,512GB
1,Asus ExpertBook B1 B1402CV – i7,"රු325,000.00",16GB,13,i7,SSD,1TB
2,Asus ExpertBook B1 B1502CVA – i5,"රු245,000.00",8GB,13,i5,SSD,512GB
3,MSI Vector 16 HX A14VGG Gaming – i9,"රු730,000.00",16GB,14,i9,SSD,1TB
4,MSI Cyborg 15 A12VE Gaming – i5,"රු335,000.00",16GB,12,i5,SSD,512GB

In [16]:
data_5['Price'] = data_5['Price'].str.replace('රු','') #covert the price into intiger
data_5['Price'] = data_5['Price'].str.replace(',','')
data_5['Price'] = data_5['Price'].str[:-3].astype('int64')

In [17]:
data_5.head()

,Model,Price,RAM,Generation,Processor Type,Hard Drive Type,Hard Drive Size
0,Asus Vivobook 15 X1504VA – i5,235000,16GB,13,i5,SSD,512GB
1,Asus ExpertBook B1 B1402CV – i7,325000,16GB,13,i7,SSD,1TB
2,Asus ExpertBook B1 B1502CVA – i5,245000,8GB,13,i5,SSD,512GB
3,MSI Vector 16 HX A14VGG Gaming – i9,730000,16GB,14,i9,SSD,1TB
4,MSI Cyborg 15 A12VE Gaming – i5,335000,16GB,12,i5,SSD,512GB

### Get the whole data sets in one table

In [18]:
data = pd.concat([data_1,data_2,data_3,data_4,data_5], ignore_index=True)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Model            326 non-null    object
 1   Price            326 non-null    int64
 2   RAM              326 non-null    object
 3   Generation       326 non-null    int64
 4   Processor Type   325 non-null    object
 5   Hard Drive Type  326 non-null    object
 6   Hard Drive Size  326 non-null    object
dtypes: int64(2), object(5)
memory usage: 18.0+ KB

In [20]:
data.head()

,Model,Price,RAM,Generation,Processor Type,Hard Drive Type,Hard Drive Size
0,LENOVO SLIM 3 15ALC6 RYZEN5 5500U|8GB|512SSD|2...,250400,8GB,5,Ryzen 5,SSD,512GB
1,ACER A515-56-53LE CORE i5 11GN|4GB|1TB|W10|SIL...,211150,4GB,11,i5,HDD,1 TB
2,ACER TMP 215|RYZEN 5-5650U|8GB|512GB|WIN 10PRO...,247200,8GB,5,Ryzen 5,HDD,512GB
3,HP 255 G8 RYZEN 5 5500U|8GB|1TB|W10|bag(2y)dar...,195700,8GB,5,Ryzen 5,HDD,1 TB
4,LENOVO V15 G2ITL i5|11GN|8GB|1TB|MX350|15.6'' ...,216300,8GB,11,i5,HDD,1 TB

## Check the Categories of each columns

In [21]:
data['Model'] = data['Model'].str.split().str[0] # Update Model column
data['Model'] = data['Model'].str.upper()

In [22]:
data['Model'].value_counts() #check the model categories

ASUS        87
LENOVO      74
HP          59
MSI         39
DELL        37
ACER        12
GIGABYTE     5
MACBOOK      5
ROG          3
HUAWEI       2
VICTUS       1
ASPIRE       1
APPLE        1
Name: Model, dtype: int64

In [23]:
data['Model'] = data['Model'].str.replace('APPLE','MACBOOK')

#reduce the categories 

def add_model(name):                                                                              
    if name == 'GIGABYTE' or name == 'ROG' or name == 'HUAWEI' or name == 'VICTUS' or name =='ASPIRE':
        return 'Others'
    else:
        return name
    
data['Model'] = data['Model'].apply(add_model)

In [24]:
data['Model'].value_counts()

ASUS       87
LENOVO     74
HP         59
MSI        39
DELL       37
ACER       12
Others     12
MACBOOK     6
Name: Model, dtype: int64

In [25]:
data['Generation'] = data['Generation'].astype(str) # convert ingeter into string

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Model            326 non-null    object
 1   Price            326 non-null    int64
 2   RAM              326 non-null    object
 3   Generation       326 non-null    object
 4   Processor Type   325 non-null    object
 5   Hard Drive Type  326 non-null    object
 6   Hard Drive Size  326 non-null    object
dtypes: int64(1), object(6)
memory usage: 18.0+ KB

In [27]:
data['RAM'].value_counts() #check the Ram categories

8GB     180
16GB    116
4GB      15
8GB       5
32GB      5
12GB      3
4GB       2
Name: RAM, dtype: int64

In [28]:
data['RAM'] = data['RAM'].str.replace(' ','')

In [29]:
data['RAM'].value_counts()

8GB     185
16GB    116
4GB      17
32GB      5
12GB      3
Name: RAM, dtype: int64

In [30]:
data['Generation'].value_counts() #check the Generation categories

13    96
12    95
11    41
5     35
7     18
14    16
6      8
2      6
10     4
3      3
1      2
4      1
8      1
Name: Generation, dtype: int64

In [31]:
data['Processor Type'].value_counts() #check the Processor Type categories

i5                                                                                                         127
i7                                                                                                          73
i3                                                                                                          38
Ryzen 5                                                                                                     33
Ryzen 7                                                                                                     25
i9                                                                                                           7
Ultra 7                                                                                                      5
Ryzen 3                                                                                                      4
Apple                                                                                                        4
Ryzen 7                                                                                                      2
Ryzen 5                                                                                                      2
Ultra 5                                                                                                      2
Apple\n\n8-core CPU with 4 perform­ance cores and 4 efficiency cores\n7-core GPU\n16-core Neural Engine      1
 Athlon Silver                                                                                               1
Celeron                                                                                                      1
Name: Processor Type, dtype: int64

In [32]:
data['Processor Type'] = data['Processor Type'].str.replace(' ','')
data['Processor Type'] = data['Processor Type'].str.split().str[0]

#reduce the categories 

def add_type(name):                                                                              
    if name == 'Ultra7' or name == 'Ultra5' or name == 'AthlonSilver' or name == 'Celeron' or name =='Ryzen3':
        return 'Others'
    else:
        return name
    
data['Processor Type'] = data['Processor Type'].apply(add_type)

In [33]:
data['Processor Type'].value_counts()

i5        127
i7         73
i3         38
Ryzen5     35
Ryzen7     27
Others     13
i9          7
Apple       5
Name: Processor Type, dtype: int64

In [34]:
data['Hard Drive Type'].value_counts() #check the Hard Drive Type categories

SSD     309
HDD      16
HDD       1
Name: Hard Drive Type, dtype: int64

In [35]:
data['Hard Drive Type'] = data['Hard Drive Type'].str.replace(' ','')
data['Hard Drive Size'] = data['Hard Drive Size'].str.replace(' ','')

In [36]:
data['Hard Drive Type'].value_counts()

SSD    309
HDD     17
Name: Hard Drive Type, dtype: int64

In [37]:
data['Hard Drive Size'].value_counts()

512GB    256
1TB       44
256GB     25
128GB      1
Name: Hard Drive Size, dtype: int64

In [38]:
data.head()

,Model,Price,RAM,Generation,Processor Type,Hard Drive Type,Hard Drive Size
0,LENOVO,250400,8GB,5,Ryzen5,SSD,512GB
1,ACER,211150,4GB,11,i5,HDD,1TB
2,ACER,247200,8GB,5,Ryzen5,HDD,512GB
3,HP,195700,8GB,5,Ryzen5,HDD,1TB
4,LENOVO,216300,8GB,11,i5,HDD,1TB

In [39]:
data = pd.get_dummies(data)  #make columns acording to categories
data.head()

,Price,Model_ACER,Model_ASUS,Model_DELL,Model_HP,Model_LENOVO,Model_MACBOOK,Model_MSI,Model_Others,RAM_12GB,...,Processor Type_i3,Processor Type_i5,Processor Type_i7,Processor Type_i9,Hard Drive Type_HDD,Hard Drive Type_SSD,Hard Drive Size_128GB,Hard Drive Size_1TB,Hard Drive Size_256GB,Hard Drive Size_512GB
0,250400,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,211150,1,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
2,247200,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,195700,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
4,216300,0,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0

In [40]:
data.shape

(326, 41)

In [43]:
x = data.drop('Price', axis=1)
y = data['Price']

In [314]:
from sklearn.model_selection import train_test_split # divide the data set into train and test
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2 , random_state = 39)

In [315]:
x_train.shape,x_test.shape

((260, 40), (66, 40))

In [316]:
def model_Accuracy(model):
    model.fit(x_train,y_train)
    accuracy = model.score(x_test,y_test)
    print(str(model)+" ------> "+str(accuracy))

In [317]:
from sklearn.linear_model import LinearRegression
linear_regression = LinearRegression()
model_Accuracy(linear_regression)

from sklearn.linear_model import Lasso
lasso = Lasso()
model_Accuracy(lasso)

from sklearn.tree import DecisionTreeRegressor
decision_tree = DecisionTreeRegressor()
model_Accuracy(decision_tree)

from sklearn.ensemble import RandomForestRegressor
random_forest = RandomForestRegressor()
model_Accuracy(random_forest)

LinearRegression() ------> 0.6761623616112509
Lasso() ------> 0.6760886682122319
DecisionTreeRegressor() ------> 0.6515440181596874
RandomForestRegressor() ------> 0.7195962800082094

C:\Users\Laptop Outlet\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.948e+11, tolerance: 6.109e+08
  model = cd_fast.enet_coordinate_descent(

In [329]:
from sklearn.model_selection import GridSearchCV #Check the best parameters

parameters = {'n_estimators':[50,100,150],
             'criterion':['squared_error','absolute_error','poisson']}

grid_object = GridSearchCV(estimator = random_forest ,param_grid = parameters)
grid_fit = grid_object.fit(x_train,y_train)

best_model = grid_fit.best_estimator_
best_model

RandomForestRegressor(criterion='absolute_error', n_estimators=150)

In [330]:
best_model.score(x_test,y_test)

0.7250209516582264

In [331]:
import pickle
with open('model.pickle','wb') as file:
    pickle.dump(best_model,file)

In [332]:
x_train.columns

Index(['Model_ACER', 'Model_ASUS', 'Model_DELL', 'Model_HP', 'Model_LENOVO',
       'Model_MACBOOK', 'Model_MSI', 'Model_Others', 'RAM_12GB', 'RAM_16GB',
       'RAM_32GB', 'RAM_4GB', 'RAM_8GB', 'Generation_1', 'Generation_10',
       'Generation_11', 'Generation_12', 'Generation_13', 'Generation_14',
       'Generation_2', 'Generation_3', 'Generation_4', 'Generation_5',
       'Generation_6', 'Generation_7', 'Generation_8', 'Processor Type_Apple',
       'Processor Type_Others', 'Processor Type_Ryzen5',
       'Processor Type_Ryzen7', 'Processor Type_i3', 'Processor Type_i5',
       'Processor Type_i7', 'Processor Type_i9', 'Hard Drive Type_HDD',
       'Hard Drive Type_SSD', 'Hard Drive Size_128GB', 'Hard Drive Size_1TB',
       'Hard Drive Size_256GB', 'Hard Drive Size_512GB'],
      dtype='object')

In [333]:
best_model.predict([[0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0]])

C:\Users\Laptop Outlet\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([258969.33333333])